.heading {
    text-align: center;
    width: 100%;
}

.centered {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: fit-content;
}

.invisible-link {
    text-decoration: none;
    color: black;
}